# project modules
**/node_modules/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Next.js build output
**/.next
**/out

# backend build
backend/main

# docker secrets
docker/**/secrets

# docker sql init scripts
docker/**/mysql-scripts

# golang build output
backend/main

# ssl certificates
certs